<div id="question-show">
<%= render partial: "layouts/navigation_main" %>

<div class="container question-container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1><%= @question.title %></h1>
      <iframe width="100%" height="422" src="https://www.youtube.com/embed/-S2wAjLwNUs" frameborder="0" allowfullscreen></iframe>

      <div class="text">
        <h2>Question</h2>
        <div class="text-container">
          <p><%= @question.question_text %></p>
        </div>

        <h2>Answer</h2>
        <div class="text-container">
          <p><%= @question.question_text %></p>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
