<div id="question-index">
<%= render partial: "layouts/navigation_main" %>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <%= link_to "Most Popular Answers", questions_path, class: "sub-nav" %>
      <h1 class="sub-nav">My Questions</h1>
      <% @questions.each do |question| %>
        <%= render "preview", question: question %>
      <% end %>
    </div>
  </div>
</div>
