<link href="https://cdn.rawgit.com/michalsnik/aos/2.0.4/dist/aos.css">
<script src="https://cdn.rawgit.com/michalsnik/aos/2.0.4/dist/aos.js"></script>
<script>AOS.init();</script>

<%= render partial: "layouts/navigation_main" %>

<section class= "development-intro hidden-desktop">
  <div class="container-fluid">
    <div class="row">
      <h1><span class="typing">We build software that <i>works</i></span></h1>
      <div class="container-fluid">
        <div class="row cta">
          <div class="col-md-offset-5 col-md-2">
            <a href="#purchase-container" class="button">Get a Quote</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="development-info">

</section>

<section class="development-process">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-offset-1 col-md-4 process-item" data-aos="fade-left">
        <div class="process-heading">
          <h3>Gameplan</h3>
          <i class="material-icons">assignment</i>
        </div>
        <p class="left">Before any code is written, it is crucial to have a clear picture of the product requirements and business goals. We will work with you to identify the most important features of your project and formulate a development timeline that works with your budget and deadline. We will then translate the timeline into discrete developer tasks within our Agile project management framework.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-7  col-md-4 process-item" data-aos="fade-right" data-aos-anchor=".development-process">
        <div class="process-heading">
          <h3>Design</h3>
          <i class="material-icons">photo_size_select_actual</i>
        </div>
        <p class="right">We believe that user experience should guide any development undertaking. Before writing a single line of code, we create detailed wireframes to describe your application's UX. From here, we design mockups of your User Interface that inform our front-end development.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-1 col-md-4 process-item" data-aos="fade-left">
        <div class="process-heading">
          <h3>Build</h3>
          <i class="material-icons">code</i>
        </div>
        <p class="left">With your project roadmap and designs in-place, we will choose the technologies that are best-suited to your budgetary, development time, and performance requirements. Your software is built one feature at a time, allowing you to track progress and modify priorities along the way.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-7 col-md-4 process-item" data-aos="fade-right">
        <div class="process-heading">
          <h3>QA</h3>
          <i class="material-icons">done</i>
        </div>
        <p class="right">After each feature is completed, we ship it to our staging environment and give you the opportunity to test it live. During the QA process, we will work together to ensure that your software is bug-free, performant, and properly fulfills all of the requirements detailed in your roadmap.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-1 col-md-4 process-item" data-aos="fade-left">
        <div class="process-heading">
          <h3>Iterate</h3>
          <i class="material-icons">sync</i>
        </div>
        <p class="left">A quick feedback loop is the core driving principle of Agile Development. By delivering you individual features as soon as they are completed, we give you the flexibility to modify your requirements and adapt to new developments in your business.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-7 col-md-4 process-item" data-aos="fade-right">
        <div class="process-heading">
          <h3>Launch</h3>
          <i class="material-icons">flight_takeoff</i>
        </div>
        <p class="right">Once we have iterated through every feature in your development roadmap, it is deployed to a production environment ready for your users. Production deployment involves a more rigorous security setup, final infrastructure provisioning, and another final round of QA.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-1 col-md-4 process-item" data-aos="fade-left">
        <div class="process-heading">
          <h3>Maintain</h3>
          <i class="material-icons">build</i>
        </div>
        <p class="left">Once your application is out in the wild, we offer an additional service to keep it running smoothly over the long term. We perform software updates, patch newly identified security vulnerabilities, backup your data, and install alerting systems to make sure you have maximum uptime.</p>
      </div>
    </div>
  </div>
</section>

<section class="development-case-studies">

</section>

<section class="development-quote">

</section>

<section class="development-technologies">
  <h2>Technologies</h2>
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-offset-1 col-md-2">
        <img src="./images/icon_rails.png" />
      </div>
      <div class="col-md-2">
        <img src="./images/react-logo-colored.png" />
      </div>
      <div class="col-md-2 node">
        <img src="./images/nodejs-icon.png" />
      </div>
      <div class="col-md-2 aws">
        <img src="./images/aws-logo.png" />
      </div>
      <div class="col-md-2 heroku">
        <img src="./images/heroku-logo.jpg" />
      </div>
    </div>
  </div>
</section>


