<% content_for :special_stylesheet do %>
    <%= stylesheet_link_tag "guide" %>
<% end %>

<nav class="nav">
  <div class="container">
    <div class="row">
      <div class="col-12-md">
        <img class="animated fadeIn logo" src="/assets/logo.png" />
        <span class="animated fadeIn nav__item">Login</span>
        <span class="animated fadeIn nav__item">Pricing</span>
        <span class="animated fadeIn nav__item">How it Works</span>
        <span class="animated fadeIn nav__item">About</span>
      </div>
    </div>
    <ul class="bubbles">
      <li class="circle"></li>
      <li class="circle"></li>
      <li class="circle"></li>
      <li class="circle"></li>
      <li class="circle"></li>
    </ul>
    <ul class="bubbles2">
      <li class="circle"></li>
      <li class="circle"></li>
      <li class="circle"></li>
      <li class="circle"></li>
      <li class="circle"></li>
    </ul>
  </div>
</nav>
<section class="section--hero centered">
  <div class="animated bounceInUp delay1">
    <h1 class="section--hero__h1">
      fill your technical knowledge gap
    </h1>
    <img class="booklet" src="./images/booklet.png" />
  </div>
  <h2 class="section--hero__h2 animated bounceInUp delay2">
    learn web application architecture in just 10 minutes
  </h2>
</section>

<section class="section--bg-white centered">
  <div class="col-md-8 col-md-offset-2">
    <h1 class="section--bg-white__h1">
      15 Pages of Technical Knowledge Can Save You $1000's
    </h1>
    <h2 class="section--bg-white__h2">
      Our user-friendly platform makes collecting testimonials easy and effective!
    </h2>
    <div class="feature-card align-left" id="feature1">
      <img src="/assets/invitation.png" class="feature-card__img">
      <div class="feature-card__body">
        <h1 class="feature-card__h1">Send a Personal Invitation</h1>
        <p class="feature-card__p">Invite your customers with a personalized link to their testimonial recording page.</p>
      </div>
    </div>
    <div class="feature-card align-left" id="feature2">
      <img src="/assets/customer.png" class="feature-card__img">
      <div class="feature-card__body">
        <h1 class="feature-card__h1">Let Your Customer Do the Talking</h1>
        <p class="feature-card__p">Your customer records their testimonial directly from their personal page using their webcam.</p>
      </div>
    </div>
    <div class="feature-card align-left" id="feature3">
      <img src="/assets/clipboard.png" class="feature-card__img">
      <div class="feature-card__body">
        <h1 class="feature-card__h1">Copy/Paste and Enjoy</h1>
        <p class="feature-card__p">Simply copy and paste the code provided to embed the video testimonial into your site - <em>voila.</em></p>
      </div>
    </div>
  </div>
</section>

<section class="section--bg-offwhite">
  <h1 class="section--bg-offwhite__h1 centered">
    Why I Made Upvotes
  </h1>
  <div class="col-md-5 col-md-offset-1">
    <h2 class="section--bg-offwhite__h2">
      More Conversions = More Sales
    </h2>
    <p class="section--bg-offwhite__p">
      You'll be surprised at how much having customer testimonials will increase your sales. Video testimonials provide your website visitors the social proof and convincing they need to make their first purchase from you.
    </p>
  </div>
  <div class="col-md-5">
    <h2 class="section--bg-offwhite__h2">
      Simple and Effective
    </h2>
    <p class="section--bg-offwhite__p">
      With our non-invasive, invitation-based approach, your customers will happily leave you glowing testimonials that give credibility to your products or services.
    </p>
    <div class="card--guest centered" id="guest-card">
      <div class="card--guest__top"></div>
      <img class="card--guest__img circle" src="/assets/andrew.jpeg" />
      <h1 class="card--guest__h1">
        Hi, I'm Andrew
      </h1>
      <p class="card--guest__p">I started Upvotes after being dissatisfied with the other testimonial tools available. I believe that any great tool should be easy-to-use, and free for small business owners.
      </p>
    </div>
  </div>
</section>

<section class="section--bg-grey centered">
  <div class="container">
    <div class="col-md-10 col-md-offset-1">
      <h1 class="section--bg-grey__h3">MADE WITH TECHNOLOGY FROM</h1>
      <div class="col-md-4">
        <div class="row">
          <img class="logo--vendor" src="/assets/aws-bw.png" />
        </div>
        <div class="row">
          <img class="logo--vendor" src="/assets/firefox-bw.png" />
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <img class="logo--vendor" src="/assets/webrtc-bw.png" />
        </div>
        <div class="row">
          <img class="logo--vendor" src="/assets/chrome-bw.png" />
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <img class="logo--vendor" src="/assets/node-bw.png" />
        </div>
        <div class="row">
          <img class="logo--vendor" src="/assets/rails-bw.png" />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section--bg-green centered">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="section--bg-green__h1">Increase Your Sales</h1>
    <h2 class="section--bg-green__h2">Showcase up to 3 customer testimonials on your site absolutely free. For more testimonials, we ask for a subscription fee to cover our video hosting and development costs.</h2>
    <div id="pricing-cards">
      <div class="col-md-6">
        <div class="card--pricing align-left">
          <h1 class="card--pricing__h1">Basic</h1>
          <div class="card--pricing__top">
            <h2 class="card--pricing__h2">Free</h2>
          </div>

          <ul class="card--pricing__ul">
            <li class="card--pricing__li">Up to 3 Video Testimonials</li>
            <li class="card--pricing__li">Personalized Recording Pages</li>
            <li class="card--pricing__li">Copy & Paste to Embed</li>
            <li class="card--pricing__li">1GB Video Hosting & Storage</li>
            <li class="card--pricing__li">Upgrade at Anytime</li>
            <li class="card--pricing__li invisible">a</li>
          </ul>
          <div class="card--pricing__bottom"></div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="card--pricing align-left">
          <h1 class="card--pricing__h1">Pro</h1>
          <div class="card--pricing__top">
            <h2 class="card--pricing__h2">$49/month</h2>
          </div>
          <ul class="card--pricing__ul">
            <li class="card--pricing__li">Unlimited Video Testimonials</li>
            <li class="card--pricing__li">Personalized Recording Pages</li>
            <li class="card--pricing__li">Copy & Paste to Embed</li>
            <li class="card--pricing__li">10GB Video Hosting & Storage</li>
            <li class="card--pricing__li">Hideable Watermark</li>
            <li class="card--pricing__li">Download & Edit Videos Offline</li>
          </ul>
          <div class="card--pricing__bottom"></div>
        </div>
      </div>
    </div>
    <div class="cta--outline" id="cta">
      Get Started for Free
    </div>
  </div>
</section>

<footer class="footer--mini">
  <img src="/assets/logo-g.png" class="footer--mini__logo" />
  <div class="footer--mini__copyright">© 2016 Upvotes</div>
  <!-- <div class="footer--mini__social">
    Facebook
  </div> -->
</footer>

<script>
  var feature = document.getElementById('feature1');
  var featureOffset = feature.offsetTop;
  var guest = document.getElementById('guest-card');
  var guestOffset = document.querySelector('.section--bg-offwhite').scrollHeight;
  var pricingCards = document.getElementById('pricing-cards');
  var pricingOffset = document.querySelector('.section--bg-green').offsetTop;
  var cta = document.getElementById('cta');

  window.addEventListener('scroll', function() {
    var pageOffset = window.pageYOffset;
    if(pageOffset >= featureOffset) {
      feature.classList.add('animated', 'slideInLeft');
      document.getElementById('feature2').classList.add('animated', 'slideInRight');
      document.getElementById('feature3').classList.add('animated', 'slideInLeft');
    }

    if(pageOffset >= guestOffset + 200) {
      guest.classList.add('animated', 'fadeInUp');
    }

    if(pageOffset >= pricingOffset - 500) {
      pricingCards.classList.add('animated', 'fadeInUp', 'delay1');
    }

    if(pageOffset >= pricingOffset - 100) {
      cta.classList.add('animated', 'zoomIn');
    }
  })
</script>
