<% content_for :special_stylesheet do %>
    <%= stylesheet_link_tag "guide" %>
<% end %>

<nav class="nav">
  <div class="container">
    <div class="row">
      <div class="col-12-md">
        SimpleCTO
      </div>
    </div>
    <ul class="bubbles">
      <li class="circle"></li>
      <li class="circle"></li>
      <li class="circle"></li>
      <li class="circle"></li>
      <li class="circle"></li>
    </ul>
    <ul class="bubbles2">
      <li class="circle"></li>
      <li class="circle"></li>
      <li class="circle"></li>
      <li class="circle"></li>
      <li class="circle"></li>
    </ul>
  </div>
</nav>
<section class="section--hero centered">
  <div class="animated bounceInUp delay1">
    <h1 class="section--hero__h1">
      fill your technical knowledge gap
    </h1>
    <img class="booklet" src="./images/booklet.png" />
  </div>
  <h2 class="section--hero__h2 animated bounceInUp delay2">
    learn web application architecture in just 20 minutes
  </h2>
</section>

<section class="section--bg-white centered">
  <div class="col-md-8 col-md-offset-2">
    <h1 class="section--bg-white__h1">
      15 Pages of Technical Knowledge Can Save You $1000's
    </h1>
    <h2 class="section--bg-white__h2">
      Build your idea correctly from the start without the need for a technical team member
    </h2>
    <div class="feature-card align-left" id="feature1">
      <img src="./images/working.png" class="feature-card__img" style="margin-top: 12px;">
      <div class="feature-card__body">
        <h1 class="feature-card__h1">Written By Experts</h1>
        <p class="feature-card__p">With over 10 years of combined industry experience you're getting information straight from the minds of experienced software engineers.</p>
      </div>
    </div>
    <div class="feature-card align-left" id="feature2">
      <img src="./images/idea.png" class="feature-card__img">
      <div class="feature-card__body">
        <h1 class="feature-card__h1">Written For Understanding</h1>
        <p class="feature-card__p">No matter your background, this booklet will improve your ability to have a web application built cost-effectively and time-efficiently.</p>
      </div>
    </div>
    <div class="feature-card align-left" id="feature3">
      <img src="./images/businessman.png" class="feature-card__img">
      <div class="feature-card__body">
        <h1 class="feature-card__h1">Written For the Busy Professional</h1>
        <p class="feature-card__p">You won't find any filler text in this booklet. It is filled from cover to cover with only the most essential information to help you get your idea off the ground today.</p>
      </div>
    </div>
  </div>
</section>

<section class="section--bg-offwhite">
  <h1 class="section--bg-offwhite__h1 centered">
    Why It Works
  </h1>
  <div class="col-md-5 col-md-offset-1 centered">
    <img class="booklet" src="./images/booklet.png" />
    <h2 class="section--bg-offwhite__h2 align-left">
      More Knowledge = More Profits
    </h2>
    <p class="section--bg-offwhite__p align-left">
      You'll be surprised at how much having a few bits of the right knowledge at the right time can improve your business success. Getting the development right will increase the quality of your product while lowering costs and reducing time wasted.
    </p>
  </div>
  <div class="col-md-5">
    <h2 class="section--bg-offwhite__h2">
      100% Money Back Guarantee
    </h2>
    <p class="section--bg-offwhite__p">
      We've put our years of industry experience into as few pages as possible using a one-size fits all example. However, we realize web applications and businesses come in all shapes and sizes - so if for any reason the information in the booklet isn't relevant to you, or doesn't serve you, we offer a full refund with no questions asked. Simply <a href="mailto:andrew@simplecto.com">email us</a> and we will process your refund immediately.
    </p>
    <div class="card--guest centered" id="guest-card">
      <div class="card--guest__top"></div>
      <img class="card--guest__img circle" src="./images/andrew.jpeg" />
      <h1 class="card--guest__h1">
        Hi, I'm Andrew
      </h1>
      <p class="card--guest__p">We began writing this booklet after hearing the same story over and over. Our friends and clients were both getting screwed over by their developers. We realized the information in this document could save them 100's of hours and 1000's of dollars by getting their application built correctly from the start.
      </p>
    </div>
  </div>
</section>

<section class="section--bg-grey centered">
  <div class="container">
    <div class="col-md-10 col-md-offset-1">
      <h1 class="section--bg-grey__h3">WITH INFORMATION ABOUT</h1>
      <div class="col-md-4">
        <div class="row">
          <img class="logo--vendor" src="./images/aws-bw.png" />
        </div>
        <div class="row">
          <img class="logo--vendor" src="./images/stripe-bw.png" />
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <img class="logo--vendor" src="./images/heroku-bw.png" />
        </div>
        <div class="row">
          <img class="logo--vendor" src="./images/postgres-bw.png" />
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <img class="logo--vendor" src="./images/node-bw.png" />
        </div>
        <div class="row">
          <img class="logo--vendor" src="./images/rails-bw.png" />
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section--bg-green centered">
  <div class="col-md-6 col-md-offset-3">
    <h1 class="section--bg-green__h1">Start Your Project Today</h1>
    <h2 class="section--bg-green__h2">With the knowledge in this booklet you will be ready to successfully launch a Web Application business. After learning this information you'll no longer need a technical team member to get started.</h2>
  </div>
  <div class="container">
    <div class="col-md-7">
      <iframe class="guide-preview" src="./assets/simple-cto-guide-to-web-applications-preview.pdf"></iframe>
    </div>
    <div class="col-md-4">
      <div id="pricing-cards">
        <div class="card--pricing align-left">
          <h1 class="card--pricing__h1">Guide to Web Applications</h1>
          <div class="card--pricing__top">
            <h2 class="card--pricing__h2">Instant Download</h2>
          </div>
          <ul class="card--pricing__ul">
            <li class="card--pricing__li">Learn How to Pick Your Technology Stack</li>
            <li class="card--pricing__li">Learn the Essential Components of a Web Application</li>
            <li class="card--pricing__li">Learn AGILE Software Development</li>
            <li class="card--pricing__li">Learn How to Estimate a Project's Time & Cost Requirements</li>
            <li class="card--pricing__li">Learn How to Hire and Manage Development Teams</li>
            <li class="card--pricing__li"><a href="mailto:doug@simplecto.com">100% Money Back Guarantee</a></li>
          </ul>
          <div class="centered" style="margin-bottom: 20px">
            <%= form_tag charges_path do %>
              <%= hidden_field_tag "product", "guide_to_web_apps" %>
              <script
                src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
                data-amount="7500"
                data-name="Guide to Web Applications"
                data-description="PDF Instant Download"
                data-image="./images/booklet.png"
                data-zip-code="true"
                data-locale="auto"
                data-label="Purchase Booklet">
              </script>
            <% end %>
          </div>
          <div class="card--pricing__bottom"></div>
        </div>
      </div>
    </div>
  </div>
</section>

<footer class="footer--mini">
  <div class="footer--mini__logo">SimpleCTO</div>
  <div class="footer--mini__copyright">1939 15th Street, San Francisco, California</div>
  <!-- <div class="footer--mini__social">
    Facebook
  </div> -->
</footer>

<script>
  var feature = document.getElementById('feature1');
  var featureOffset = feature.offsetTop;
  var guest = document.getElementById('guest-card');
  var guestOffset = document.querySelector('.section--bg-offwhite').scrollHeight;
  var pricingCards = document.getElementById('pricing-cards');
  var pricingOffset = document.querySelector('.section--bg-green').offsetTop;
  var cta = document.getElementById('cta');

  window.addEventListener('scroll', function() {
    var pageOffset = window.pageYOffset;
    if(pageOffset >= featureOffset) {
      feature.classList.add('animated', 'slideInLeft');
      document.getElementById('feature2').classList.add('animated', 'slideInRight');
      document.getElementById('feature3').classList.add('animated', 'slideInLeft');
    }

    if(pageOffset >= guestOffset + 500) {
      guest.classList.add('animated', 'fadeInUp');
    }

    if(pageOffset >= pricingOffset - 500) {
      pricingCards.classList.add('animated', 'fadeInUp', 'delay1');
    }

    if(pageOffset >= pricingOffset - 100) {
      cta.classList.add('animated', 'zoomIn');
    }
  })
</script>
