<div id="background"></div>

<section class="hero container-fluid">
  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <h1>Got a Tech Question?</h1>
      <h2 class="white">Get a Video Answer from an Industry Expert</h2>
      <span class="button pill">ask a question</span>
    </div>
  </div>
</section>

<section class="white container-fluid">
  <div class="row">
    <div class="col-md-6 centered">
      <img class="img-offset" src="/images/experts.png" />
    </div>
    <div class="col-md-6">
      <h2>How it Works</h2>
      <h3>Ask</h3>
      <p>Submit the technical questions you need answered or insight on.</p>
      <h3>Receive</h3>
      <p>An industry expert will record a personal video response to your question.</p>
      <h3>Browse</h3>
      <p>Watch and learn from our entire library of previously asked questions and answers.</p>
    </div>
</section>

<section class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <h2 class="white">What Should I Ask?</h2>
      <h3 class="blue">Hiring & Recruiting</h3>
      <p class="white">Having trouble hiring developers? Pick our brains and learn our critieria on whether we will work with you or ignore you.</p>
      <h3 class="blue">Technology</h3>
      <p class="white">Starting a tech business? Get advice from an industry expert on the best way to move forward with your software.</h3>
      <h3 class="blue">Management</h3>
      <p class="white">Learn the best practices in managing development teams to build software on time and within budget.</p>
    </div>
    <div class="col-md-6 centered">
      <img class="img-offset" src="/images/workshop.png" />
    </div>
  </div>
</section>
