<div id="landing-page">
<div id="background"></div>

<%= render partial: "layouts/navigation_main" %>

<!-- hero -->

<section class="hero container-fluid">
  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <h1>Got Tech Hurdles?</h1>
      <h2 class="white">solve your challenges with answers from industry experts</h2>
      <a href="<%= new_user_registration_path %>" class="button pill">get an answer</a>
    </div>
  </div>
</section>

<!-- how it works -->

<section class="white">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 centered">
        <img class="img-offset" src="/images/experts.png" />
      </div>
      <div class="col-md-6">
        <h2 class="purple">How it Works</h2>
        <h3 class="purple">Ask</h3>
        <p>Submit technical questions or describe the challenge you're facing.</p>
        <h3 class="purple">Receive</h3>
        <p>An industry expert will personally answer your question via video or text.</p>
        <h3 class="purple">Browse</h3>
        <p>Browse and learn from our entire library of previously asked questions and answers.</p>
      </div>
    </div>
  </div>
</section>

<!-- our experts -->

<section class="experts">
  <div class="container-fluid">
    <div class="centered row">
      <h2 class="white">Meet our Experts</h2>
      <div class="col-md-4">
        <div class="expert-col">
          <h4 class="white">Andrew Wong</h4>
          <img class="expert circle" src="/images/andrew.jpeg" />
          <p class="white">Andrew is a Silicon Valley based Web Developer with years of experience working in both large corporations and young scrappy start-ups. His frameworks of choice are Ruby on Rails and React.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="expert-col">
          <h4 class="white">Douglas Mill</h4>
          <img class="expert circle" src="/images/doug.jpg" />
          <p class="white">Also a Web Developer from Silicon Valley, Doug is experienced in managing outsourced developers and instilling processes that enable global development teams to deliver software on time and within budget.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="expert-col">
          <h4 class="white">Mysterious Guest</h4>
          <img class="expert circle" src="/images/guest.jpg" />
          <p class="white">Every expert recognizes that he or she can't know everything. That's why we invite tech experts from around the world to provide answers to the questions that are outside our realm of expertise.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- what to ask -->

<section class="black">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <h2 class="white">What Should I Ask?</h2>
        <h3 class="blue">Hiring & Recruiting</h3>
        <p class="white">Having trouble hiring developers? Pick our brains on how to hire and vet the top tech talent.</p>
        <h3 class="blue">Technology</h3>
        <p class="white">Starting a tech business? Ask an industry expert the best way to move forward with your software idea.</p>
        <h3 class="blue">Management</h3>
        <p class="white">Learn the best practices in managing development teams to get software built on time and within budget.</p>
      </div>
      <div class="col-md-6 centered">
        <img class="img-questions" src="/images/questions.png" />
      </div>
    </div>
  </div>
</section>

<!-- lead capture -->

<section class="lead-capture">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <h1 class="white">Go On. Ask a Question</h1>
        <p class="white">It's easy and free.</p>
        <!-- <div class="form"> -->
          <!-- <input type="text" placeholder="Your Question"> -->
          <!-- <input type="text" placeholder="Your Email"> -->
          <a href="<%= new_user_registration_path %>" class="button pill-red main-cta">Get Your Video Answer</a>
        <!-- </div> -->
      </div>
      <div class="col-md-6 centered">
        <img class="img-offset" src="/images/video.png" />
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container-fluid">
    <div class="col-md-offset-5 col-md-2">
      <a href="/privacy_policy" class="privacy">Terms & Privacy Policy</a>
    </div>
  </div>
</section>
</div>

<%= render partial: "layouts/messenger" %>
