<div id="background"></div>
<nav>
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <span class="logo">SimpleCTO</span>
      </div>
      <div class="col-md-10">
        <div class="nav-right">
          <span class="nav-button"><%= fa_icon "phone-square" %> Call a Consultant</span>
          <span class="nav-button">Blog</span>
          <span class="static nav-button">|</span>
          <span class="secondary nav-button">Sign up</span>
          <span class="secondary nav-button">Log in</span>
        </div>
      </div>
    </div>
  </div>
</nav>

<section class="hero container-fluid">
  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <h1>Got a Tech Question?</h1>
      <h2 class="white">Get a Video Answer from an Industry Expert</h2>
      <span class="button pill">ask a question</span>
    </div>
  </div>
</section>

<section class="white">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 centered">
        <img class="img-offset" src="/images/experts.png" />
      </div>
      <div class="col-md-6">
        <h2 class="purple">How it Works</h2>
        <h3 class="purple">Ask</h3>
        <p>Submit the technical questions you need answered or insight on.</p>
        <h3 class="purple">Receive</h3>
        <p>An industry expert will record a personal video response to your question.</p>
        <h3 class="purple">Browse</h3>
        <p>Watch and learn from our entire library of previously asked questions and answers.</p>
      </div>
    </div>
  </div>
</section>

<section class="experts">
  <div class="container-fluid">
    <div class="centered row">
      <h2 class="white">Meet our Experts</h2>
      <div class="col-md-4">
        <div class="expert-col">
          <h4 class="white">Andrew Wong</h4>
          <img class="expert circle" src="/images/andrew.jpeg" />
          <p class="white">Andrew is a Silicon Valley based Web Developer with years of experience working in both large corporations and young scrappy start-ups. His frameworks of choice are Ruby on Rails and React.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="expert-col">
          <h4 class="white">Douglas Mill</h4>
          <img class="expert circle" src="/images/doug.jpg" />
          <p class="white">Also a Web Developer from Silicon Valley, Doug is experienced in managing outsourced developers and instilling processes that enable global development teams to deliver software on time and within budget.</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="expert-col">
          <h4 class="white">Mysterious Guest</h4>
          <img class="expert circle" src="/images/guest.jpg" />
          <p class="white">Every expert recognizes that he can't know everything. That's why we invite tech experts from around the world to provide answers to the questions that are outside our realm of expertise.</p>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="black">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <h2 class="white">What Should I Ask?</h2>
        <h3 class="blue">Hiring & Recruiting</h3>
        <p class="white">Having trouble hiring developers? Pick our brains and learn our critieria on who we choose to work with and who we choose to ignore.</p>
        <h3 class="blue">Technology</h3>
        <p class="white">Starting a tech business? Ask an industry expert the best way to move forward with your software idea.</h3>
        <h3 class="blue">Management</h3>
        <p class="white">Learn the best practices in managing development teams to get software built on time and within budget.</p>
      </div>
      <div class="col-md-6 centered">
        <img class="img-offset" src="/images/workshop.png" />
      </div>
    </div>
  </div>
</section>

<section class="lead-capture">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6">
        <h1 class="white">Go On. Ask the Question</h1>
        <p class="white">Your first video answer is free.</p>
        <div class="form">
          <input type="text" placeholder="Your Question">
          <input type="text" placeholder="Your Email">
          <span class="button pill-red">Get Your Video Answer</span>
        </div>
      </div>
      <div class="col-md-6 centered">
        <img class="img-offset" src="/images/workshop.png" />
      </div>
    </div>
  </div>
</section>
