<div id="background"></div>

<section class="hero container-fluid">
  <div class="row">
    <div class="col-md-offset-1 col-md-10">
      <h1>Got a Tech Question?</h1>
      <h2 class="white">Get a Video Answer from an Industry Expert</h2>
      <span class="button pill">ask a question</span>
    </div>
  </div>
</section>

<section class="white container-fluid">
  <div class="row centered">
    <h2 class="black">How it Works</h2>
    <div class="col-md-4">
      <%= fa_icon "question-circle-o", class: "icon" %>
      <h4>Submit Your Question</h4>
    </div>
    <div class="col-md-4">
      <%= fa_icon "file-video-o", class: "icon" %>
      <h4>An Expert Records a Video Response</h4>
    </div>
    <div class="col-md-4">
      <%= fa_icon "list-alt", class: "icon" %>
      <h4>View Our Entire Library of Questions and Answers</h4>
    </div>
  </div>
</section>


<section class="white container-fluid">
  <div class="row">
    <div class="col-md-6 centered">
      <img class="img-offset" src="/images/workshop.png" />
    </div>
    <div class="col-md-6">
      <h2>What Should I Ask?</h2>
      <h3>Hiring & Recruiting</h3>
      <p>There are millions of songs on Spotify. Play your favorites, discover new tracks, and build the perfect collection.</p>
      <h3>Web Technology</h3>
      <p>There are millions of songs on Spotify. Play your favorites, discover new tracks, and build the perfect collection.</p>
      <h3>Managing Developers</h3>
      <p>There are millions of songs on Spotify. Play your favorites, discover new tracks, and build the perfect collection.</p>
    </div>
</section>
