/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_self
 *= require jquery-ui/autocomplete
 */

@import 'bootstrap.min';
@import 'font-awesome';
@import 'themes/red';
@import 'landing-page';
@import 'authentication';
@import 'questions';
@import 'consultation';
@import 'subscriptions';
@import 'tech-lingo';

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-size: 10px;
}

* {
  box-sizing: border-box;
}

a:link, a:hover, a:active, a:visited {
  text-decoration: none;
}

input[type='submit'] {
  border: none;
}

// component styles
.clear-fix:after {
  clear: both;
  content: "";
  display: block;
}

.centered {
  text-align: center;
}

img.circle {
  border-radius: 100%;
}

.flash {
  margin: 0;
  padding: 0;
}
