#authentication {
  font-size: 1.5rem;

  .logo {
    font-size: 3.8rem;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
  }

  .body {
    margin-top: 2rem;
  }

  input {
    width: 100%;
    margin: 0.5rem 0;

    &:not([type='submit']) {
      border-radius: 3px;
      height: 40px;
      padding: 2.5rem 1.5rem;
      font-size: 2rem;
      font-weight: 300;
      box-shadow: none;
      border: 1px solid #ccc;
      color: #232323;
    }
  }

  .field {
    width: 100%;
  }

  .field.half-width {
    width: calc(50% - 0.5rem);
    float: left;

    &.first {
      margin-right: 1rem;
    }
  }
}
