$green: #67D3CF;
$grey: #f2f2f2;
$black: #313131;
$orange: #f56961;

@import 'guide-bootstrap';
@import 'animate';

.section--hero {
  background: $green;
  padding-top: 0;
  min-height: 600px;

  &__h1 {
    font-weight: 300;
    margin-top: 0;
    color: #fff;
    font-size: 30px;
  }

  &__h2 {
    font-weight: 300;
    font-size: 22px;
    opacity: 0.8;
    margin-top: 20px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
  }
}

.section--bg-grey {
  background: $grey;
  padding: 40px 0;

  &__h3 {
    color: #909090;
    transform: uppercase;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
  }
}

.cta--outline {
  border: 1px solid #fff;
  border-radius: 3px;
  display: inline-block;
  padding: 12px 50px;
  cursor: pointer;
  margin-top: 30px;

  &:hover {
    background: #fff;
    color: $green;
    transition: 0.2s ease;
  }
}

.nav {
  background: $green;
  padding: 30px;

  &__item {
    float: right;
    padding: 0 30px;
  }
}

.logo {
  height: 30px;
}

.booklet {
  height: 180px;
  margin: 30px 0 30px -80px;
}


.feature-card {
  background: #fafafa;
  border-bottom: 3px solid #e8e8e8;
  margin-bottom: 20px;

  &__body {
    display: inline-block;
    vertical-align: top;
    margin-top: 18px;
    width: calc(100% - 140px);
  }

  &__h1 {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
  }

  &__p {
    color: #6f6f6f;
    font-size: 14px;
    font-weight: 400;
  }

  &__img {
    width: 120px;
    padding: 15px 30px;
  }
}

.section--bg-white {
  padding-bottom: 60px;

  &__h1 {
    font-weight: 400;
    font-size: 28px;
    margin-top: 70px;
  }

  &__h2 {
    font-size: 16px;
    font-weight: 400;
    color: #6f6f6f;
    margin-bottom: 40px;
  }
}

.section--bg-offwhite {
  background: #faf9f9;
  padding-bottom: 60px;
  overflow: hidden;

  &__h1 {
    font-weight: 400;
    font-size: 28px;
    margin-top: 70px;
  }

  &__p {
    color: #909090;
    font-size: 14px;
  }
}

.card--guest {
  background: #fff;
  margin-top: 80px;

  &__top {
    border-radius: 4px 4px 0 0;
    height: 6px;
    background: $orange;
  }

  &__img {
    height: 110px;
    transform: translateY(-50%);
  }

  &__h1 {
    font-weight: 400;
    font-size: 22px;
    margin-top: -40px;
  }

  &__p {
    color: #909090;
    font-size: 14px;
    padding: 0 35px 35px;
    line-height: 28px;
  }
}

.section--bg-green {
  background: $green;
  color: #fff;
  padding-bottom: 80px;

  &__h1 {
    font-weight: 400;
    font-size: 28px;
    margin-top: 70px;
    color: #fff;
  }

  &__h2 {
    font-size: 16px;
    font-weight: 400;
    color: #fff;
  }
}

.card--pricing {
  background: #fff;
  border-radius: 3px;
  margin: 40px 0;

  &__h1 {
    font-weight: 400;
    font-size: 22px;
    padding: 10px 35px;
    margin: 0;
  }

  &__h2 {
    color: #fff;
    padding: 5px 35px;
    margin: 0;
  }

  &__ul {
    padding: 10px 25px 10px 45px;
  }

  &__li {
    color: #909090;
    font-size: 14px;
    line-height: 28px;
  }

  &__top {
    background: $orange;
  }

  &__bottom {
    height: 5px;
    background: #e8e8e8;
    border-radius: 0 0 4px 4px;
  }
}

.footer--mini {
  background: #fafafa;
  color: #848484;

  &__logo {
    padding: 30px 15px 20px 35px;
    height: 80px;
    opacity: 0.3;
    display: inline-block;
  }

  &__copyright {
    opacity: 0.3;
    vertical-align: top;
    margin-top: 35px;
    display: inline-block;
    font-size: 14px;
  }

  &__social {
    display: inline-block;
    float: right;
    opacity: 0.3;
    vertical-align: top;
    margin-top: 35px;
  }
}

.align-left {
  text-align: left;
}

.circle {
  border-radius: 50%;
}

.logo--vendor {
  opacity: 0.4;
  padding: 10px 40px;
  width: 100%;
}
//
.bubbles, .bubbles2 {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    z-index: 0;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
}

.bubbles li {
    position: absolute;
    list-style: none;
    display: block;
    background-color: rgba(255, 255, 255, 0.1);
    bottom: -100px;
    -webkit-animation: square 0.1s infinite;
    animation: square 0.1s infinite;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
}

.bubbles li:nth-child(1) {
    width: 40px;
    height: 40px;
    left: 20%;
    -webkit-animation-delay: 0;
    animation-delay: 0;
    -webkit-animation-duration: 12s;
    animation-duration: 12s;
}
.bubbles li:nth-child(2) {
    width: 60px;
    height: 60px;
    left: 40%;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 17s;
    animation-duration: 17s;
}

.bubbles li:nth-child(3) {
    width: 10px;
    height: 10px;
    left: 60%;
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
    -webkit-animation-duration: 13s;
    animation-duration: 13s;
}

.bubbles li:nth-child(4) {
    width: 80px;
    height: 80px;
    left: 80%;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-duration: 22s;
    animation-duration: 22s;
}

.bubbles li:nth-child(5) {
    width: 50px;
    height: 50px;
    left: 50%;
    -webkit-animation-delay: 7s;
    animation-delay: 7s;
    -webkit-animation-duration: 12s;
    animation-duration: 12s;
}

.bubbles2 li {
    position: absolute;
    list-style: none;
    display: block;
    background-color: rgba(255, 255, 255, 0.1);
    bottom: -100px;
    -webkit-animation: square 0.5s infinite;
    animation: square 0.5s infinite;
    -webkit-transition-timing-function: linear;
    transition-timing-function: linear;
}

.bubbles2 li:nth-child(1) {
    width: 40px;
    height: 40px;
    left: 80%;
    -webkit-animation-delay: 1s;
    animation-delay: 1s;
    -webkit-animation-duration: 18s;
    animation-duration: 18s;
}
.bubbles2 li:nth-child(2) {
    width: 60px;
    height: 60px;
    left: 70%;
    -webkit-animation-delay: 0s;
    animation-delay: 0s;
    -webkit-animation-duration: 22s;
    animation-duration: 22s;
}

.bubbles2 li:nth-child(3) {
    width: 10px;
    height: 10px;
    left: 30%;
    -webkit-animation-delay: 6s;
    animation-delay: 6s;
    -webkit-animation-duration: 18s;
    animation-duration: 18s;
}

.bubbles2 li:nth-child(4) {
    width: 80px;
    height: 80px;
    left: 50%;
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-duration: 22s;
    animation-duration: 22s;
}

.bubbles2 li:nth-child(5) {
    width: 50px;
    height: 50px;
    left: 70%;
    -webkit-animation-delay: 9s;
    animation-delay: 9s;
    -webkit-animation-duration: 14s;
    animation-duration: 14s;
}

@-webkit-keyframes square {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-1080px);
        transform: translateY(-1080px);
    }
}

@keyframes square {
    0% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100% {
        -webkit-transform: translateY(-1080px);
        transform: translateY(-1080px);
    }
}

body {
  margin: 0;
  overflow-x: hidden;
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto Slab', serif;
  font-size: 24px;
  color: $black;
}

section {
  overflow: hidden;
}

.centered {
  text-align: center;
}

.guide-preview {
  width: 100%;
  height: 25em;
  margin-top: 40px;
}

a, a:visited, a:active {
  color: inherit;
}

a:hover {
  color: #333;
}

// book
.bk-list {
  list-style: none;
  position: relative;
  display: inline-block;
}

.bk-list li {
  position: relative;
  width: 260px;
  float: left;
  z-index: 1;
  margin-right: 50px;
  -webkit-perspective: 1800px;
  perspective: 1800px;
}

.bk-list li:last-child {
  margin-right: 0;
}

.bk-info {
  position: relative;
  margin-top: 320px;
}

.bk-info h3 {
  padding: 25px 0 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(0,0,0,0.3);
  font-size: 26px;
}

.bk-info h3 span:first-child {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 5px;
  display: block;
  color: #777;
}

.bk-info p {
  line-height: 24px;
  color: #444;
  min-height: 160px;
}

.bk-info button {
  background: #FC756F;
  border: none;
  color: #fff;
  display: inline-block;
  padding: 3px 15px;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  cursor: pointer;
  margin-right: 4px;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.15);
}

.bk-info button.bk-active,
.bk-info button:active {
  box-shadow:
    0 1px 0 rgba(255, 255, 255, 0.8),
    inset 0 -1px 1px rgba(0,0,0,0.2);
}

.no-touch .bk-info button:hover,
.bk-info button.bk-active {
  background: #d0544e;
}

.bk-list li .bk-book {
  position: absolute;
  width: 100%;
  height: 400px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transition: -webkit-transform .5s;
  transition: transform .5s;
}

.bk-list li .bk-book.bk-bookdefault:hover {
  -webkit-transform: rotate3d(0,1,0,35deg);
  transform: rotate3d(0,1,0,35deg);
}

.bk-list li .bk-book > div,
.bk-list li .bk-front > div {
  display: block;
  position: absolute;
}

.bk-list li .bk-front {
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-transition: -webkit-transform .5s;
  transition: transform .5s;
  -webkit-transform: translate3d(0,0,20px);
  transform: translate3d(0,0,20px);
  z-index: 10;
}

.bk-list li .bk-front > div {
  z-index: 1;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.bk-list li .bk-page {
  -webkit-transform: translate3d(0,0,19px);
  transform: translate3d(0,0,19px);
  display: none;
  width: 255px;
  height: 350px;
  top: 5px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 9;
}

.bk-list li .bk-front,
.bk-list li .bk-back,
.bk-list li .bk-front > div {
  width: 260px;
  height: 360px;
}

.bk-list li .bk-left,
.bk-list li .bk-right {
  width: 40px;
  left: -20px;
}

.bk-list li .bk-top,
.bk-list li .bk-bottom {
  width: 255px;
  height: 40px;
  top: -15px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.bk-list li .bk-back {
  -webkit-transform: rotate3d(0,1,0,-180deg) translate3d(0,0,20px);
  transform: rotate3d(0,1,0,-180deg) translate3d(0,0,20px);
  box-shadow: 10px 10px 30px rgba(0,0,0,0.3);
  border-radius: 3px 0 0 3px;
}

.bk-list li .bk-cover-back {
  background-color: #000;
  -webkit-transform: rotate3d(0,1,0,-179deg);
  transform: rotate3d(0,1,0,-179deg);
}

.bk-list li .bk-right {
  height: 350px;
  top: 5px;
  -webkit-transform: rotate3d(0,1,0,90deg) translate3d(0,0,295px);
  -moz-transform: rotate3d(0,1,0,90deg) translate3d(0,0,295px);
  transform: rotate3d(0,1,0,90deg) translate3d(0,0,295px);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.bk-list li .bk-left {
  height: 360px;
  -webkit-transform: rotate3d(0,1,0,-90deg);
  transform: rotate3d(0,1,0,-90deg);
}

.bk-list li .bk-top {
  -webkit-transform: rotate3d(1,0,0,90deg);
  transform: rotate3d(1,0,0,90deg);
}

.bk-list li .bk-bottom {
  -webkit-transform: rotate3d(1,0,0,-90deg) translate3d(0,0,350px);
  transform: rotate3d(1,0,0,-90deg) translate3d(0,0,350px);
}

/* Transform classes */

.bk-list li .bk-viewinside .bk-front {
  -webkit-transform: translate3d(0,0,20px) rotate3d(0,1,0,-160deg);
  transform: translate3d(0,0,20px) rotate3d(0,1,0,-160deg);
}

.bk-list li .bk-book.bk-viewinside {
  -webkit-transform: translate3d(0,0,150px) rotate3d(0,1,0,0deg);
  transform: translate3d(0,0,150px) rotate3d(0,1,0,0deg);
}

.bk-list li .bk-book.bk-viewback {
  -webkit-transform: translate3d(0,0,0px) rotate3d(0,1,0,180deg);
  transform: translate3d(0,0,0px) rotate3d(0,1,0,180deg);
}

/* Main colors and content */

.bk-list li .bk-page,
.bk-list li .bk-right,
.bk-list li .bk-top,
.bk-list li .bk-bottom {
  background-color: #fff;
}

.bk-list li .bk-front > div {
  border-radius: 0 3px 3px 0;
  box-shadow:
    inset 4px 0 10px rgba(0, 0, 0, 0.1);
}

.bk-list li .bk-front:after {
  content: '';
  position: absolute;
  top: 1px;
  bottom: 1px;
  left: -1px;
  width: 1px;
}

.bk-list li .bk-cover:after,
.bk-list li .bk-back:after {
  content: '';
  position: absolute;
  top: 0;
  left: 10px;
  bottom: 0;
  width: 3px;
  background: rgba(0,0,0,0.06);
  box-shadow: 1px 0 3px rgba(255, 255, 255, 0.1);
}

.bk-list li .bk-back:after {
  left: auto;
  right: 10px;
}

.bk-left h2 {
  width: 400px;
  height: 40px;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: rotate(90deg) translateY(-40px) translateX(-60px);
  transform: rotate(90deg) translateY(-40px) translateX(-60px);
}

.bk-content {
  position: absolute;
  top: 30px;
  left: 20px;
  bottom: 20px;
  right: 20px;
  padding: 30px;
  overflow: hidden;
  background: #fff;
  opacity: 0;
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  cursor: default;
}

.bk-content-current {
  opacity: 1;
  pointer-events: auto;
}

.bk-content p {
  padding: 0 0 10px;
  -webkit-font-smoothing: antialiased;
  color: #000;
  font-size: 13px;
  line-height: 20px;
  text-align: justify;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.bk-page nav {
  display: block;
  text-align: center;
  margin-top: 20px;
  position: relative;
  z-index: 100;
  cursor: pointer;
}

.bk-page nav span {
  display: inline-block;
  width: 20px;
  height: 20px;
  color: #aaa;
  background: #f0f0f0;
  border-radius: 50%;
}

/* Individual style & artwork */

/* Book 1 */
.book-1 .bk-front > div,
.book-1 .bk-back,
.book-1 .bk-left,
.book-1 .bk-front:after {
  background-color: #49B1F6;
}

.book-1 .bk-cover {
  background: url('/images/book-cover.png') 0px 0px / 270px 270px no-repeat;
}

.book-1 .bk-cover h2 {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 20px;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.1);
}

.bk-cover p {
  font-size: 12px;
  font-weight: 300;
}

.book-1 .bk-cover h2 span:first-child,
.book-1 .bk-left h2 span:first-child {
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  font-size: 16px;
}

.book-1 .bk-cover h2 span:first-child {
  display: block;
}

.book-1 .bk-cover h2 span:last-child,
.book-1 .bk-left h2 span:last-child {
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: 300;
}

.book-1 .bk-content p {
  font-family: Georgia, Times, "Times New Roman", serif;
}

.book-1 .bk-left h2 {
  color: #fff;
  font-size: 15px;
  line-height: 40px;
  padding-right: 20px;
  text-align: right;
}

.book-1 .bk-back p {
  color: #fff;
  font-size: 13px;
  padding: 40px;
  text-align: center;
  font-weight: 700;
}

/* Fallbacks */

.no-csstransforms3d .bk-list li .bk-book > div,
.no-csstransforms3d .bk-list li .bk-book .bk-cover-back {
  display: none;
}

.no-csstransforms3d .bk-list li .bk-book > div.bk-front {
  display: block;
}

.no-csstransforms3d .bk-info button,
.no-js .bk-info button {
  display: none;
}

