body {
  background-color: $red;
}

nav {
  height: 60px;
  background-color: rgba(23,23,23,0.8);
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  line-height: 60px;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  font-family: "Raleway", sans-serif;

  .nav-button {
    padding: 0 15px;
    cursor: pointer;

    &:hover {
      color: $blue;
    }
  }

  .nav-button.static {
    color: #c1c3c6;
  }

  .nav-button.secondary {
    color: #c1c3c6;

    &:hover {
      color: $blue;
    }
  }

  .nav-right {
    float: right;
  }
}

#background {
  background: url('/images/collage.png');
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 0;
}

.hero {
  padding-top: 20vh;
  text-align: center;
  height: 100vh;

  h2 {
    margin-top: -20px;
    font-size: 36px;
    margin-bottom: 80px;
  }
}

section {
  position: relative;
  padding: 40px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);

  h2 {
    margin-bottom: -20px;
  }
}

section.white {
  background-color: #fff;
}

section.black {
  background: url('/images/shattered.gif');
  background-color: $black;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

.centered {
  text-align: center;
}

.img-offset {
  margin-top: calc(35%);
  width: 80%;
}

.experts {
  .expert-col {
    padding: 20px;
  }

  .expert {
    width: 80%;
    margin-bottom: 40px;
  }

  p {
    font-size: 18px;
    font-weight: 300;
  }
}

section.lead-capture {
  padding-bottom: 80px;

  h1 {
    margin-bottom: 10px;
  }

}

.form {
  margin-top: 40px;

  input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #fff;
    background: none;
    font-family: "Raleway", sans-serif;
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    height: 60px;
    margin-bottom: 30px;

    &:focus {
      outline: none;
    }
  }

  .button {
    margin-top: 40px;
    display: inline-block;
  }
}

.img-bottom {
  padding-bottom: -80px;
}


::-webkit-input-placeholder {
   color: $blue;
}

:-moz-placeholder { /* Firefox 18- */
   color: $blue;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $blue;
}

:-ms-input-placeholder {
   color: $blue;
}
