#background {
  background: url('/images/collage.png');
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 0;
}

.hero {
  padding-top: 20vh;
  text-align: center;
  height: 100vh;

  h2 {
    margin-top: -20px;
    font-size: 36px;
    margin-bottom: 80px;
  }
}

.experts {
  .expert-col {
    padding: 20px;
  }

  .expert {
    width: 80%;
    margin-bottom: 40px;
  }

  p {
    font-size: 18px;
    font-weight: 300;
  }
}

section.lead-capture {
  padding-bottom: 80px;

  h1 {
    margin-bottom: 10px;
  }
}

.form {
  margin-top: 40px;

  input {
    width: 100%;
    border: none;
    border-bottom: 1px solid #fff;
    background: none;
    font-family: "Raleway", sans-serif;
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    height: 60px;
    margin-bottom: 30px;

    &:focus {
      outline: none;
    }
  }

  .button {
    margin-top: 40px;
    display: inline-block;
  }
}

.img-offset {
  margin-top: calc(35%);
  width: 80%;
}

.img-questions {
  margin-top: 12%;
  width: 90%;
  float: right;
}

.img-bottom {
  padding-bottom: -80px;
}
