#question-show {
  background: #fafafa;
  height: 100%;

  h1 {
    font-family: "Raleway", sans-serif;
    font-size: 2.4rem;
    font-weight: 600;
    color: #484848;
  }

  h2 {
    font-family: "Lora", serif;
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 1rem;
    color: #484848;
  }

  .question-container {
    margin-top: 2rem;
    background: #fafafa;
  }

  .text {
    padding-top: 2rem;
  }

  .text-container {
    background: #fff;
    box-shadow: 0 1px 4px rgba(0,0,0,.04);
    border: 1px solid rgba(0,0,0,.09);
    border-radius: 3px;
    padding: 0 2rem;
    font-family: "Lora", serif;
    font-size: 1.8rem;
    color: #484848;
  }

  .awaiting-answer {
    font-size: 1.8rem;
    color: #888;
    font-family: "Lora";
    border-radius: 3px;
    border: 1px solid #eee;
    background: #eee;
    margin-bottom: -2.5rem;
    padding: 1rem;
  }

  .button.pill {
    background: $red;
  }

  .answerer {
    img {
      width: 6rem;
      margin: 2rem 1rem 1rem 0;
      border-radius: 3px;
      float: left;
    }
    .answerer-name {
      font-family: "Raleway", sans-serif;
      color: $red-fade;
      line-height: 10rem;
    }
  }

  padding-bottom: 6rem;
}

#question-new {
  height: 100%;
  background: #fafafa;
}

#question-index {
  background: #fafafa;
  height: 100%;

  .sub-nav {
    display: inline-block;
    margin-right: 4rem;
    font-size: 2.2rem;
  }
  a:link.sub-nav, a:visited.sub-nav, a:active.sub-nav {
    color: #aaa;
    font-weight: 400;
  }
  a:hover.sub-nav {
    color: $red;
    cursor: pointer;
  }
  .question-preview {
    padding: 1rem 0;
    display: block;
    border-radius: 5px;

    .question-title {
      display: block;
      font-size: 2.2rem;
      font-family: "Raleway", sans-serif;
      margin-top: 0;
      color: $red;
      margin-bottom: 0.4rem;
      font-weight: 600;

      &:hover {
        text-decoration: underline;
      }
    }

    .question-body {
      display: block;
      font-size: 1.6rem;
      font-family: "Raleway", sans-serif;
      font-weight: 400;
      color: $black;
    }

    .video-thumbnail {
      float: left;
      vertical-align: text-top;
      margin-right: 1rem;
    }
  }
}
