#subscription-new {
  background: url('/images/discovery-launch.jpg');
  background-size: cover;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 0;

  h1 {
    font-family: "Raleway", sans-serif;
    font-size: 72px;
    font-weight: 600;
    color: #fff;
  }

  h2 {
    font-family: "Lato", sans-serif;
    color: #fff;
    font-weight: 100;
    font-size: 72px;
    margin-bottom: 10px;
    letter-spacing: -4px;
  }

  h3 {
    font-family: "lato", sans-serif;
    color: #fff;
    font-weight: 100;
    margin-top: -20px;
    font-size: 24px;
    margin-bottom: 25px;
  }

  .hero {
    text-align: center;
    height: 100vh;
  }

  .subscribe {
    background: $red-fade;
    border-radius: 10px;
    padding-bottom: 20px;
  }

  ul {
    color: #424143;
    margin-left: -10px;
    list-style-type: none;
    margin-bottom: 25px;
  }

  li {
    text-align: center;
    font-size: 16px;
    margin-top: 10px;
  }
}
