$red: #E60038;
$black: #2e2f33;
$blue: #9bf0e1;

h1 {
  font-family: "Raleway", sans-serif;
  font-size: 72px;
  color: #fff;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 48px;
  color: $red;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  color: $red;
  margin-bottom: 0;
}

h4 {
  font-family: "Raleway", sans-serif;
  color: $black;
  font-size: 28px;
  font-weight: 500;
}

p {
  color: $black;
  font-family: "Lato", serif;
  font-size: 22px;
  margin-top: 10px;
}

h2.white, h3.white, p.white {
  color: #fff;
}

h3.blue {
  color: #9bf0e1;
}

h2.black {
  color: $black;
}

.button.pill {
  border: 3px solid #fff;
  border-radius: 100px;
  height: 50px;
  background-color: none;
  padding: 12px 35px;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 1px;

  &:hover {
    background-color: #fff;
    color: #333;
    transition: 0.2s;
  }
}

.button.pill-red {
  border-radius: 100px;
  background-color: $red;
  height: 50px;
  padding: 15px 35px;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 1px;

  &:hover {
    background-color: #fff;
    color: #333;
    transition: 0.2s;
  }
}

img.circle {
  border-radius: 100%;
}
