<script>
  var appId = '1713891815539439';

  window.fbAsyncInit=function(){FB.init({appId:appId,xfbml:!0,version:"v2.7"});var a=document.getElementById("messenger-tab"),b=document.getElementById("messenger-popup");a.style.transform="translateY(0)",a.addEventListener("click",function(){b.classList.toggle("active")})},function(a,b,c){var d,e=a.getElementsByTagName(b)[0];a.getElementById(c)||(d=a.createElement(b),d.id=c,d.src="https://connect.facebook.net/en_US/sdk.js",e.parentNode.insertBefore(d,e))}(document,"script","facebook-jssdk");
</script>

<div id="messenger-tab" class="centered noselect loading">
  <div>Need a dev team? Hire us</div>
  <div class="images">
    <img class="circle" src="/images/andrew.jpeg" />
    <img class="circle" src="/images/doug.jpg" />
    <img class="circle" src="/images/majo.jpg" />
  </div>
</div>

<div id="messenger-popup">
  <div class="fb-page" data-href="https://www.facebook.com/simplecto/" data-tabs="messages" data-height="300" data-small-header="false" data-adapt-container-width="false" data-hide-cover="false"></div>
</div>
