$red: #E60038;
$black: #2e2f33;
$blue: #9bf0e1;
$purple: #843cd1;
// $purple: #5e239d;

body {
  background-color: $red;
}

// navigation
nav {
  height: 60px;
  background-color: rgba(23,23,23,0.8);
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  line-height: 60px;
  color: #fff;
  font-size: 15px;
  font-weight: 500;
  font-family: "Raleway", sans-serif;

  .nav-button {
    padding: 0 15px;
    cursor: pointer;

    a:link, a:hover, a:active, a:visited {
      color: inherit;
    }


    &:hover {
      color: $blue;
    }
  }

  .nav-button {
    color: #fff;
  }

  .nav-button.static {
    color: #c1c3c6;
  }

  .nav-button.secondary {
    color: #c1c3c6;

    &:hover {
      color: $blue;
    }
  }

  .nav-right {
    float: right;
  }
}

// headings
h1 {
  font-family: "Raleway", sans-serif;
  font-size: 72px;
  color: #fff;
}

h2 {
  font-family: "Raleway", sans-serif;
  font-size: 48px;
  color: $red;
  font-weight: 800;
}

h3 {
  font-family: "Raleway", sans-serif;
  font-size: 36px;
  color: $red;
  margin-bottom: 0;
}

h4 {
  font-family: "Raleway", sans-serif;
  color: $black;
  font-size: 28px;
  font-weight: 500;
}

p {
  color: $black;
  font-family: "Lato", serif;
  font-size: 22px;
  margin-top: 10px;
}

h2.white, h3.white, h4.white, p.white {
  color: #fff;
}

h2.purple, h3.purple, h4.purple {
  color: $purple;
}

h3.blue {
  color: #9bf0e1;
}

h2.black {
  color: $black;
}

// sections
section {
  position: relative;
  padding: 40px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);

  h2 {
    margin-bottom: -20px;
  }
}

section.white {
  background-color: #fff;
}

section.black {
  background: url('/images/shattered.gif');
  background-color: $black;
  border-top: 2px solid #000;
  border-bottom: 2px solid #000;
}

// buttons
.button.pill {
  border: 3px solid #fff;
  border-radius: 100px;
  height: 50px;
  background-color: none;
  padding: 12px 35px;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 1px;

  &:hover {
    background-color: #fff;
    color: $red;
    transition: 0.2s;
  }
}

.button.pill-red {
  border-radius: 100px;
  background-color: $red;
  height: 50px;
  padding: 15px 35px;
  color: #fff;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  letter-spacing: 1px;

  &:hover {
    background-color: #fff;
    color: $purple;
    transition: 0.2s;
  }
}

// other styles
::-webkit-input-placeholder {
   color: $blue;
}

:-moz-placeholder { /* Firefox 18- */
   color: $blue;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $blue;
}

:-ms-input-placeholder {
   color: $blue;
}
